



<html>
	<head>
		<title>Find a Union Bank Branch Bank &amp; ATM in California</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=7" />
		<meta NAME="KEYWORDS" CONTENT="union bank branch locations California, union bank branches California, union bank atm locations California"/>
		<meta NAME="DESCRIPTION" CONTENT="Find Union Bank branch and ATM locations in California. From applying for a home loan to opening a checking account or simply making an ATM withdrawal, Union Bank has branches and ATMs in California for your convenience."/>
		
		
		
		<link rel="canonical" href="https://blw.unionbank.com/blw/branches/California-1/State-Level-Branch-Page"/>
		
			
				
					<link rel="next" href="https://blw.unionbank.com/blw/branches/California-2/"/>
				
				
			
		
		<link rel="stylesheet" type="text/css" media="all" href="/blw/resources/css/layout.css;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" />
<link rel="stylesheet" type="text/css" media="all" href="/blw/resources/css/non-lob-pages.css;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" />
<link rel="stylesheet" type="text/css" media="print" href="/blw/resources/css/layout-print.min.css;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" />
<link rel="stylesheet" type="text/css" media="all" href="/blw/resources/css/personal.min.css;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" />
<link rel="stylesheet" type="text/css" media="all" href="/blw/resources/css/all-locations.css;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" />
<script src='/blw/resources/js/jquery.min.js;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01'></script>
		<script src='/blw/resources/js/State-Level-Branch-Page.js;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01'></script>
	</head>
	<body>
		<link rel="shortcut icon" href='/blw/resources/images/favicon.ico'/>
<link rel="stylesheet" type="text/css" href='/blw/resources/css/blw.css' />
<!--[if IE 7]><link  href='/blw/resources/css/blw-ie7.css' rel='stylesheet' type='text/css'/><![endif]-->
<!--[if IE 6]><link  href='/blw/resources/css/blw-ie6.css' rel='stylesheet' type='text/css'/><![endif]-->
<!--[if lt IE 8]><link  href='/blw/resources/css/print-ie.css' rel="stylesheet" type="text/css" media="print" /><![endif]-->

		<div class="header-container">
	<a href="https://www.unionbank.com/index.jsp" class="logo"><span class="hidden">Union Bank</span></a>
	<ul class="top-nav">
		<li id="nav-personal" class="top-nav-item first">
			<a href="https://www.unionbank.com/personal-banking/index.jsp"  class="top-nav-item-face">
				Personal
			</a>
		</li>
		<li id="nav-small-business" class="top-nav-item">
			<a href="https://www.unionbank.com/small-business/index.jsp" class="top-nav-item-face">
				Small Business
			</a>
		</li>
		<li id="nav-commercial-institutional" class="top-nav-item">
			<a href="https://www.unionbank.com/commercial-bank/index.jsp" class="top-nav-item-face">
				Commercial &amp; Institutional
			</a>
		</li>
		<li id="nav-the-private-bank" class="top-nav-item last">
			<a href="https://www.unionbank.com/private-bank/index.jsp" class="top-nav-item-face">
				The Private Bank
			</a>
		</li>
	</ul>
	<form class="top-search" action="?">
		<input type="hidden" name="output" value="xml_no_dtd" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="hidden" name="oe" value="UTF-8" />
        <input type="hidden" name="client" value="ub2_frontend" />
        <input type="hidden" name="proxystylesheet" value="ub2_frontend" />
        <input type="hidden" name="site" value="ub2_collection" />
        <input type="hidden" name="ubtopmenu" value="?" />
        <input type="hidden" name="ubbkimage" value="?" />
		<div class="clearfix">
			<input type="text" name="q" class="top-search-text default-text" title="Search" value="Search"
				onfocus="if(this.value=='Search'){this.value='';this.style.color='black';}" 
				onblur="if(this.value==''){this.value='Search';this.style.color='black';this.style.fontStyle='italic';}" />
			<button type="submit" class="top-search-submit">Search</button>
		</div>
	</form>
	<div class="navigation-wrapper">
		<ul class="global-navigation sub-nav">
			<li class="sub-nav-item first">
				<div class="sub-nav-item-face">
					<a href="https://www.unionbank.com/global/about/index.jsp">About Union Bank</a>
				</div>
			</li>
			<li class="sub-nav-item">
				<div class="sub-nav-item-face">
					<a href="https://www.unionbank.com/global/contactus/index.jsp">Contact Us</a>
				</div>
			</li>
			<li class="sub-nav-item" id="findLocations">
				<div class="sub-nav-item-face"><a href="JavaScript:void(0);">Find Locations</a></div>
				<form action="/blw/search_results" method="GET" class="home-find-location sub-nav-flyout" style="width:180px;">
					<input type="text" name="blw_search_input"  class="home-find-location-text default-text" 
							title="Enter Zip or City, State" placeholder="Enter Zip or City, State" 
							onblur="if(this.value==''){this.value='City, State -OR- Zip Code';this.style.color='black';}" 
							value="City, State -OR- Zip Code" 
							onfocus="if(this.value=='City, State -OR- Zip Code'){this.value='';this.style.color='black';}"/>  
					<button type="submit" class="home-find-location-go">Go</button>
					<div class="find-flyout">
						<a href="JavaScript:void(0);" class="find-flyout-trigger" style="width:70px;">More Options &gt;</a>
						<a id="all-locations-link" 
								style="color: #333333; position: absolute; top:34px; left:95px; font-weight: bold; text-decoration: none; font-size: 1em;" 
								href="/blw/branches/All-State-Branch-Page">All Locations &gt</a>
						<div class="find-flyout-panel" id="options" style="display: none;">
							<ul>
								<li><label><input type="checkbox" checked="checked" name="sl" value="sl-branch"> Branches</label></li>
								<li><label><input type="checkbox" name="sl" value="sl-allatm"> ATMs</label></li>
								<li><label><input type="checkbox" name="sl" value="sl-fcxchg"> Foreign Currency Exchange</label></li>
								<li><label><input type="checkbox" name="sl" value="sl-isbranch"> In-Store Branches</label></li>
							</ul>
						</div>
					</div>
				</form>
				<div class="clear"></div>
			</li>
			<li class="sub-nav-item last">					
				<div class="sub-nav-item-face"><a href="https://www.unionbank.com/global/help/index.jsp">Help</a></div>				
			</li>
		</ul>
	</div>
	<div class="header-background-left"></div>
</div>
		<script src='/blw/resources/js/masthead.js;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01'></script>
		<div class="content" style="z-index: 4;">
			<div class="blw-page-body2 shadow shadow-box">
				<h1 class="all-locations-heading">
					Find a Union Bank Branch Bank &amp; ATM in California
				</h1>
				<div class="all-locations-breadcrumb-container">&nbsp;
	<span id="all-locations-breadcrumb-main-text" class="all-locations-breadcrumb-item-text">All Locations</span>
	<a id="all-locations-breadcrumb-main-link" class="all-locations-breadcrumb-item-link" href="/blw/branches/All-State-Branch-Page">All Locations</a>
	<span id="all-locations-breadcrumb-state-separator">&nbsp;&gt;&nbsp;</span>
	<span id="all-locations-breadcrumb-state-text" class="all-locations-breadcrumb-item-text">California</span>
	<a id="all-locations-breadcrumb-state-link" class="all-locations-breadcrumb-item-link" href="/blw/branches//State-Level-Branch-Page">California</a>
	<span id="all-locations-breadcrumb-city-separator">&nbsp;&gt;&nbsp;</span>
	<span id="all-locations-breadcrumb-city-text" class="all-locations-breadcrumb-item-text"></span>
	<a id="all-locations-breadcrumb-city-link" class="all-locations-breadcrumb-item-link" href="/blw/branches///1/City-Level-Branch-Page"></a>
	<span id="all-locations-breadcrumb-address-separator">&nbsp;&gt;&nbsp;</span>
	<span id="all-locations-breadcrumb-address-text" class="all-locations-breadcrumb-item-text"></span>
</div>
				<div class="data-container">
					<form action="/blw/search_results" method="get" class="blw-the-form" id="blw-the-Form" style="height: inherit;">
	<div class="blw-search-input-container" style="width:100%;">
		<span class="roundedCorners" dojotype="dijit.layout.ContentPane" region="left" style="height: 35px !important;">
			<label>
				<span style="font-size:12px;color:black;">
					Find a Union Bank branch near you: 
				</span>
			</label> 
			<input type="text" name="blw_search_input" style="margin: 1px;width:540px;color:gray;" class="blw-search-input" value="City, State -OR- Zip Code" onfocus="if(this.value=='City, State -OR- Zip Code'){this.value='';this.style.color='black';}" onblur="if($.trim(this.value)==''){this.value='City, State -OR- Zip Code';this.style.color='gray';}" maxlength="60"/> 
			<input type="submit" class="home-find-location-go" dojotype="dijit.form.Button" onclick="locate()" value="" style="cursor:pointer;"/>
		</span>
	</div>
	<div class="blw-more-search-options-link" style="position: inherit;padding-left:199px;">
		<a href="JavaScript:void(0);" class="blw-more-search-options-link" id="blw-more-search-options-link">Show More Search Options</a>
		<div class="blw-search-options blw-find-flyout-panel shadow shadow-box" style="display: none;width:370px;position:absolute;top:123px;left:232px;box-shadow:4px 4px 8px #ADADAD;" id="searchOptions">
			<table>
				<tr valign="top">
					<td>
						<table>
							<tr valign="middle">
								<td style="padding-top: 2px;">
									<label><input type="checkbox" checked="checked" name="sl" value="sl-branch" /> Branches</label>
								</td>
							</tr>
							<tr valign="middle">
								<td style="padding-top: 2px;">
									 <label><input type="checkbox" name="sl" value="sl-allatm"> ATMs</label>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr valign="middle">
								<td style="padding-top: 2px;">
									<label><input type="checkbox" name="sl" value="sl-fcxchg"> Foreign Currency Exchange</label>
								</td>
							</tr>
							<tr valign="middle">
								<td style="padding-top: 2px;">
									 <label><input type="checkbox" name="sl" value="sl-isbranch"> in-Store Branches</label>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>
					<script type="text/javascript" src='/blw/resources/js/blw-seo-custom-search.js;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01'></script>
					<div id="city-list" style="display:none;">
						
							
								
									
									<a href="/blw/branches/California/Agoura-Hills/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Agoura Hills</a>
								
							
								
									
									<a href="/blw/branches/California/Alamo/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Alamo</a>
								
							
								
									
									<a href="/blw/branches/California/Anaheim/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Anaheim</a>
								
							
								
									
									<a href="/blw/branches/California/Apple-Valley/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Apple Valley</a>
								
							
								
									
									<a href="/blw/branches/California/Arcadia/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Arcadia</a>
								
							
								
									
									<a href="/blw/branches/California/Artesia/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Artesia</a>
								
							
								
									
									<a href="/blw/branches/California/Atascadero/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Atascadero</a>
								
							
								
									
									<a href="/blw/branches/California/Auburn/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Auburn</a>
								
							
								
									
									<a href="/blw/branches/California/Bakersfield/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Bakersfield</a>
								
							
								
									
									<a href="/blw/branches/California/Barstow/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Barstow</a>
								
							
								
									
									<a href="/blw/branches/California/Bellflower/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Bellflower</a>
								
							
								
									
									<a href="/blw/branches/California/Berkeley/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Berkeley</a>
								
							
								
									
									<a href="/blw/branches/California/Beverly-Hills/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Beverly Hills</a>
								
							
								
									
									<a href="/blw/branches/California/Big-Bear-Lake/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Big Bear Lake</a>
								
							
								
									
									<a href="/blw/branches/California/Bishop/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Bishop</a>
								
							
								
									
									<a href="/blw/branches/California/Blue-Jay/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Blue Jay</a>
								
							
								
									
									<a href="/blw/branches/California/Blythe/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Blythe</a>
								
							
								
									
									<a href="/blw/branches/California/Brawley/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Brawley</a>
								
							
								
									
									<a href="/blw/branches/California/Brea/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Brea</a>
								
							
								
									
									<a href="/blw/branches/California/Brentwood/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Brentwood</a>
								
							
								
									
									<a href="/blw/branches/California/Buellton/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Buellton</a>
								
							
								
									
									<a href="/blw/branches/California/Buena-Park/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Buena Park</a>
								
							
								
									
									<a href="/blw/branches/California/Burbank/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Burbank</a>
								
							
								
									
									<a href="/blw/branches/California/Burlingame/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Burlingame</a>
								
							
								
									
									<a href="/blw/branches/California/Camarillo/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Camarillo</a>
								
							
								
									
									<a href="/blw/branches/California/Capitola/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Capitola</a>
								
							
								
									
									<a href="/blw/branches/California/Carlsbad/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Carlsbad</a>
								
							
								
									
									<a href="/blw/branches/California/Carmel/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Carmel</a>
								
							
								
									
									<a href="/blw/branches/California/Carpinteria/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Carpinteria</a>
								
							
								
									
									<a href="/blw/branches/California/Chatsworth/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Chatsworth</a>
								
							
								
									
									<a href="/blw/branches/California/Chino-Hills/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Chino Hills</a>
								
							
								
									
									<a href="/blw/branches/California/Chula-Vista/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Chula Vista</a>
								
							
								
									
									<a href="/blw/branches/California/Citrus-Heights/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Citrus Heights</a>
								
							
								
									
									<a href="/blw/branches/California/City-of-Industry/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">City of Industry</a>
								
							
								
									
									<a href="/blw/branches/California/Clovis/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Clovis</a>
								
							
								
									
									<a href="/blw/branches/California/Coalinga/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Coalinga</a>
								
							
								
									
									<a href="/blw/branches/California/Corona/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Corona</a>
								
							
								
									
									<a href="/blw/branches/California/Corona-Del-Mar/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Corona Del Mar</a>
								
							
								
									
									<a href="/blw/branches/California/Coronado/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Coronado</a>
								
							
								
									
									<a href="/blw/branches/California/Corte-Madera/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Corte Madera</a>
								
							
								
									
									<a href="/blw/branches/California/Costa-Mesa/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Costa Mesa</a>
								
							
								
									
									<a href="/blw/branches/California/Cypress/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Cypress</a>
								
							
								
									
									<a href="/blw/branches/California/Daly-City/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Daly City</a>
								
							
								
									
									<a href="/blw/branches/California/Dana-Point/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Dana Point</a>
								
							
								
									
									<a href="/blw/branches/California/Danville/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Danville</a>
								
							
								
									
									<a href="/blw/branches/California/Davis/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Davis</a>
								
							
								
									
									<a href="/blw/branches/California/Del-Mar/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Del Mar</a>
								
							
								
									
									<a href="/blw/branches/California/Delano/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">Delano</a>
								
							
								
									
									<a href="/blw/branches/California/El-Cajon/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">El Cajon</a>
								
							
								
									
									<a href="/blw/branches/California/El-Centro/1/City-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" 
										style="text-decoration: none;">El Centro</a>
								
							
						
					</div>
					<div id="city-names-container">
						<table>
							<tr></tr>
						</table>
					</div>
					
						<div id="pagination-container">
							
								
									
										<a href="/blw/branches/California/State-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" class="page-number" id="pageNumber1">
											<span>1</span>
										</a>
									
									
								
							
								
									
									
										<a href="/blw/branches/California-2/State-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" class="page-number" id="pageNumber2">
											<span>2</span>
										</a>
									
								
							
								
									
									
										<a href="/blw/branches/California-3/State-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" class="page-number" id="pageNumber3">
											<span>3</span>
										</a>
									
								
							
								
									
									
										<a href="/blw/branches/California-4/State-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" class="page-number" id="pageNumber4">
											<span>4</span>
										</a>
									
								
							
								
									
									
										<a href="/blw/branches/California-5/State-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" class="page-number" id="pageNumber5">
											<span>5</span>
										</a>
									
								
							
							
								
								
									<a href="/blw/branches/California-2/State-Level-Branch-Page;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01" class="pagination-next-link">Next >></a>
								
							
						</div>
					
					<form id="state-level-branch-page-form" method="post">
						<input type="hidden" name="state" id="state" value="California"/>
						<input type="hidden" value="CA" id="stateAbbreviation" name="stateAbbreviation"/>
						<input type="hidden" name="city" id="city"/>
						<input type="hidden" id="context-path" value="/blw"/>
						<input type="hidden" id="totalNoOfPages" value="5"/>
						<input type="hidden" id="presentPage" value="1"/>
					</form>
				</div>
			</div>
		</div>
		<script src='/blw/resources/js/blw-seo-change-background.js;jsessionid=7DB63A5F0AE34DF455517AB6B3975D4D.blw-ch-prd-app01'></script>
		<div class="footer footer-4-cols">
	<dl class="footer-links">
		<dt>About Us</dt>
		<dd>
			<ul class="footer-links-list">
				<li><a href="https://www.unionbankcareers.com/">Careers
						with Union Bank</a></li>
				<li><a
					href="https://www.unionbank.com/global/about/newsroom/index.jsp">Newsroom</a></li>
				<li><a
					href="https://www.unionbank.com/global/about/company-profile/index.jsp">Company
						Profile</a></li>
				<li><a
					href="https://www.unionbank.com/global/about/communities/community-outreach/index.jsp">Community
						Outreach</a></li>
				<li><a
					href="https://www.unionbank.com/global/about/diversity-inclusion/index.jsp">Diversity
						&amp; Inclusion</a></li>
				<li><a
					href="https://www.unionbank.com/global/about/corporate-social-responsibility/index.jsp">Corporate
						Social Responsibility</a></li>
				<li><a
					href="https://www.unionbank.com/global/about/company-profile/our-parent-mufg.jsp">Our
						Parent - MUFG</a></li>
			</ul>
		</dd>
	</dl>
	<dl class="footer-links">
		<dt>Privacy &amp; Security</dt>
		<dd>
			<ul class="footer-links-list">
				<li><a
					href="https://www.unionbank.com/personal-banking/privacy-security/index.jsp">Privacy
						&amp; Security Center</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/privacy-security/online-security/index.jsp">Online
						Security</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/privacy-security/identity-theft/index.jsp">Identity
						Theft</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/privacy-security/fraud-education/index.jsp">Fraud
						Education</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/privacy-security/privacy-policy.jsp">Privacy
						Policy</a></li>
			</ul>
		</dd>
	</dl>
	<dl class="footer-links">
		<dt>Resources</dt>
		<dd>
			<ul class="footer-links-list">
				<li><a
					href="https://www.unionbank.com/global/contactus/index.jsp">How to Contact Us</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/fdic-insurance.jsp">FDIC Insurance &minus; 
						Important Changes</a></li>
				<li><a
					href="https://www.unionbank.com/global/help/personal-banking/index.jsp">FAQs</a></li>
				<li><a
					href="https://www.unionbank.com/global/about/accessibility.jsp">Hearing-impaired &amp; 
						Visually Impaired Services</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/payment-challenges/index.jsp">Mortgage 
						Payment Challenges</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/privacy-security/terms-of-use-policy.jsp">Terms 
						of Use</a></li>
				<li><a
					href="https://www.unionbank.com/global/sitemap.jsp">Site 
						Map</a></li>
			</ul>
		</dd>
	</dl>
	<dl class="footer-links">
		<dt>Popular Links</dt>
		<dd>
			<ul class="footer-links-list">
				<li><a
					href="https://www.unionbank.com/personal-banking/checking-savings/checking/find-routing-number.jsp">Find 
						Routing Number</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/checking-savings/checking/reorder-checks.jsp">Order 
						Checks</a></li>
				<li><a
					href="https://oao.unionbank.com/oao/consumer/enrollOnline.seam?cid=17559">Open an 
						Account Online</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/japanese/eng/index.jsp">Japanese 
						Services</a></li>
				<li><a
					href="https://www.unionbank.com/personal-banking/japanese/jpn/index.jsp">日本語ページ</a></li>
				<li><a 
					href="https://www.unionbank.com/personal-banking/vod/index.jsp">Verification of Deposit 
						Requests</a></li>
				<li><a 
					href="/blw/branches/All-State-Branch-Page">All Locations</a></li>
			</ul>
		</dd>
	</dl>
	<div class="clear"></div>
</div>
		
<!-- Start Coremetrics -->
<script src='/blw/resources/coremetrics/eluminate-4.8.4H.js' type="text/javascript"></script>
<script src='/blw/resources/coremetrics/cmcustom-4.0.js' type="text/javascript"></script>
<script src='/blw/resources/js/blw_coremetrics.js' type="text/javascript"></script>

<div class="copyright-footer shadow-box">
	<p class="copyright-text clearfix">
		<span class="year current-year">&copy;&nbsp;2017</span>
		<span class="copyright">MUFG Union Bank, N.A.&nbsp;All rights reserved.Member FDIC.</span>
		<a href="#" class="trade">Equal Housing Lender</a>
	</p>
	<div class="shadow-element shadow-box-s "></div>
	<div class="shadow-element shadow-box-sw"></div>
	<div class="shadow-element shadow-box-se"></div>
	<div class="shadow-element shadow-box-e "></div>
	<div class="shadow-element shadow-box-w "></div>
</div>
	</body>
</html>