<select onChange="window.open(this.options[this.selectedIndex].value,'_self')">
	<option value="">&nbsp;&raquo;&nbsp;&nbsp;choose a location&nbsp;&nbsp;&laquo;&nbsp;</option>
	<option value="http://www.rtacos.com/colorado/arvada">Arvada, CO (80th Ave.)</option>
	<option value="http://www.rtacos.com/colorado/littleton">Littleton, CO</option>
	<option value="http://www.rtacos.com/colorado/westminster">Westminster, CO</option>
	<option value="http://www.rtacos.com/minnesota/eagan">Eagan, MN</option>
	<option value="http://www.rtacos.com/minnesota/eden-prairie">Eden Prairie, MN</option>
	<option value="http://www.rtacos.com/minnesota/maple-grove">Maple Grove, MN</option>
	<option value="http://www.rtacos.com/minnesota/minneapolis">Minneapolis, MN</option>
	<option value="http://www.rtacos.com/minnesota/st-paul">St. Paul, MN</option>
	<option value="http://www.rtacos.com/nebraska/omaha">Omaha, NE</option>
	<option value="http://www.rtacos.com/nebraska/omaha-center">Omaha, NE (Center Rd.)</option>
	<option value="http://www.rtacos.com/ohio/dayton">Dayton, OH</option>
	<option value="http://www.rtacos.com/texas/dallas-greenville">Dallas, TX (Greenville Ave.)</option>
	<option value="http://www.rtacos.com/texas/dallas-medical-district">Dallas, TX (Medical District)</option>
	<option value="http://www.rtacos.com/texas/dallas-oak-lawn">Dallas, TX (Oak Lawn)</option>
	<option value="http://www.rtacos.com/texas/dallas-preston-hollow">Dallas, TX (Preston Hollow)</option>   
	<option value="http://www.rtacos.com/texas/denton">Denton, TX</option>
	<option value="http://www.rtacos.com/texas/ft-worth-bluebonnet">Ft. Worth (Bluebonnet Circle), TX</option>
	<option value="http://www.rtacos.com/texas/grand-prairie">Grand Prairie, TX</option>
	<option value="http://www.rtacos.com/texas/hurst">Hurst, TX</option>
    <option value="http://www.rtacos.com/texas/mesquite">Mesquite, TX</option>
    <option value="http://www.rtacos.com/texas/mansfield">Mansfield, TX</option>
	<option value="http://www.rtacos.com/texas/plano">Plano, TX</option>
	<option value="http://www.rtacos.com/rtaco-store-locator.html">Find The Nearest R Taco</option>
	<option value="#">------Coming Soon-------</option>
    <option value="http://www.rtacos.com/colorado/arvada-64th">Arvada, CO (64th Ave.)</option>
	<option value="http://www.rtacos.com/iowa/desmoines">West Des Moines/Waukee, IA</option>
	<option value="http://www.rtacos.com/texas/ft-worth-ridglea-village">Ft. Worth, TX (Ridglea Village)</option>
</select>