<!-- BEGIN StoreLocatorResults.jsp -->
		<table id="bopis_table" tabindex="-1" summary="This table contains the store location search results.  It displays the names, addresses, telephone numbers, and hours of the store results.  Users can add a store to the store list." cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr class="nested">
				<th class="align_left" id="PhysicalStores_tableCell_result1"><h2>Store Name and Address</h2></th>
				 
				<th class="align_left" id="PhysicalStores_tableCell_result3"></th>
				
			</tr>
            
			
					
				<tr>
					<td width="250" headers="PhysicalStores_tableCell_result1" class=no_bottom_border>
						<p><span class="bold">Great Falls Scheels</span></p>
						<p>1200 10th Ave. S.</p>
						<p>Great Falls, MT, 59405                                   </p>
						<p>406.453.7666                      </p>
						
						<i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;<strong><a href="https://www.facebook.com/greatfallsscheels" target="_blank" />facebook.com/greatfallsscheels</a></strong>
						
						<br />



						
							<br />
							<p>
								<a class="button_primary" target="_blank" href="http://www.scheels.com/shop/scheels-catalog/scheels-store-gf">
									Full Store Details
								</a>
							</p>
						
					</td>
    				 
					<td class="avail no_bottom_border" headers="PhysicalStores_tableCell_result3">
						<!-- button for adding to store list --><!-- end button for adding to store list -->

					</td>
					
				</tr>
  
			
		</table>
	
	</div>
<!-- END StoreLocatorResults.jsp -->