<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<link rel="stylesheet" href="../assets/stylesheets/searchResults.css" type="text/css" />
<style type="text/css">



/* <![CDATA[ */
.main_wrapper { width: 600px; }
.map_text .text_results { width: 320px; }
/*.map_text .map { width: 270px !important; }*/
.text_results_details {
    border: 1px solid #D2D2D2;
    margin-bottom: 5px;
    padding: 10px;
}
.map_text .mapit { width: 598px !important;  }

body {background: #D0D0D0; }
body, .text a, .links a, .viewlocation a, .footer a, a.a1 { color: #000000;}
.text_results, .location_header { background: #E462BD !important; padding-right: 0;}
.head *, .pagination *, .location_header { color: #FFFFFF !important; }
.main, .rounded_corners { background: #FFFFFF; }
#tab-1, #tab-2, #tab-3, #map { color: #000000;}
/* ]]> */
</style>

  
<SCRIPT src="../common/NewWindow.js"></SCRIPT>

  <!--[if lt IE 8]>
	<script type="text/javascript" src="../assets/javascripts/curvycorners.js"
		></script>
  <script type="text/javascript">
  //<[![CDATA
    addEvent(window, 'load', initCorners);
    function initCorners() {
    var setting = {
    tl: { radius: 4 },
    tr: { radius: 4 },
    bl: { radius: 4 },
    br: { radius: 4 },
    antiAlias: true
    }
    curvyCorners(setting, ".rounded_corners");
    }
  //]]>
  </script>
<![endif]-->
<!--[if lt IE 7]>
  <script type="text/javascript" src="../assets/javascripts/supersleight.js"></script>
<![endif]-->

<title></title>
<script type="text/javascript" src="../assets/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../assets/javascripts/jquery-ui-1.8.21.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/stylesheets/jquery-ui-1.8.21.custom.css">
</head>
<body>

<div class="main_wrapper">
  <div class="top">
  	  </div>
  <div class="site_name">
	
  </div>
	



<div id="main_holder" class="main_holder text_only">
		  <div class="info_block rounded_corners">
	  			    <font size=-1>Click on the Location Name for details about the location.<br>
				The <img src="../images/event.gif"> icon next to the
				Location Name indicates Special Events at that Location.</font>
	    	  </div>
				        <div id="content">
				
			<div id="text_results" class="text_results rounded_corners" style="min-width: 100%">
				<div class="head">
					<h2>Records</h2>
					<h3><strong>1</strong> - <strong>3</strong> (6)</h3>
					<div class="clear"></div>
				</div>
				<div class="main results_0"> 
					<ol>
								
							
																																																																																												
									
									<li>
									<div class="links">
										<span class='link_with_tooltip'><a href='../visitor/googlemap.php?sid=1213&lid=48738758&zoom=14&language=en'  onclick="NewWindow(this.href, '_blank', 620, 620, 0);return false;" class='mapit'><img src="../assets/images/map_icon.png" alt="Map &amp; Directions" title=""><br><span class='mapit_text'>Map &amp; Directions</span></a></span>
									</div>
									<!-- TODO: number should be styled text, not image -->
									<div class="icon location_index">1</div>
									
																		<div class="text">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
																									<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Name
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
<a href="viewLocation.php?lid=48738758&amp;sid=1213">Haven & CO</a>			</td>
		</tr>

																																												<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Address
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
11965 San Vincente Blvd<br>Los Angeles, CA 90049 			</td>
		</tr>

																																																			<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Country
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
United States			</td>
		</tr>

																																												<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Distance
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
1.4 miles			</td>
		</tr>

																								
	</table>									
									</div>
																			
									
									
									<div class="clear"></div>
									</li>
									
																																																																																																					
									
									<li>
									<div class="links">
										<span class='link_with_tooltip'><a href='../visitor/googlemap.php?sid=1213&lid=48738601&zoom=14&language=en'  onclick="NewWindow(this.href, '_blank', 620, 620, 0);return false;" class='mapit'><img src="../assets/images/map_icon.png" alt="Map &amp; Directions" title=""><br><span class='mapit_text'>Map &amp; Directions</span></a></span>
									</div>
									<!-- TODO: number should be styled text, not image -->
									<div class="icon location_index">2</div>
									
																		<div class="text">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
																									<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Name
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
<a href="viewLocation.php?lid=48738601&amp;sid=1213">Shutters On The Beach</a>			</td>
		</tr>

																																												<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Address
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
1 Pico Blvd<br>Santa Monica, CA 90405 			</td>
		</tr>

																																																			<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Country
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
United States			</td>
		</tr>

																																												<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Distance
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
2.2 miles			</td>
		</tr>

																								
	</table>									
									</div>
																			
									
									
									<div class="clear"></div>
									</li>
									
																																																																																																					
									
									<li>
									<div class="links">
										<span class='link_with_tooltip'><a href='../visitor/googlemap.php?sid=1213&lid=48738960&zoom=14&language=en'  onclick="NewWindow(this.href, '_blank', 620, 620, 0);return false;" class='mapit'><img src="../assets/images/map_icon.png" alt="Map &amp; Directions" title=""><br><span class='mapit_text'>Map &amp; Directions</span></a></span>
									</div>
									<!-- TODO: number should be styled text, not image -->
									<div class="icon location_index">3</div>
									
																		<div class="text">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
																									<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Name
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
<a href="viewLocation.php?lid=48738960&amp;sid=1213">Loews Hotel - Santa Monica</a>			</td>
		</tr>

																																												<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Address
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
1700 Ocean Avenue, ATTN:  CITRINE<br>Santa Monica, CA 90401 			</td>
		</tr>

																																																			<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Country
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
United States			</td>
		</tr>

																																												<tr>
			<th class="r1" align="right" valign="top" width="10%" nowrap>
				Distance
			</th>
			<td width="10">
				&nbsp;&nbsp;
			</td>
			<td class="r2" valign="top" align="left" width="90%">
3.6 miles			</td>
		</tr>

																								
	</table>									
									</div>
																			
									
									
									<div class="clear"></div>
									</li>
									
																													
					</ol>
				</div>
				<div class="pagination">
					<div class="total_pages"><strong>1</strong> - <strong>3</strong> (6)</div>
					<div class="pages">
						<a href='results.php?pos=0' class='current'>1</a>
<a href='results.php?pos=3'>2</a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
				
	<div class="clear"></div>
</div>

<div class="footer rounded_corners">
  	<div class="links">
  								<a href="advanced.php?site_id=1213">Advanced Search</a>
			
			
	    </div>	
    <div class="powered">Powered by <a href="http://www.xtremelocator.com">Xtreme Locator</a></div>
    <div class="clear"></div>
  </div>
</div>
</body>
</html>